# Neo4j Assignment
Rafaila Galanopoulou 8160018 

Big Data Management Systems Course 2020 

Professor: Damianos Chatziantoniou

## Download the Dataset

1. Download the data from this [source](https://snap.stanford.edu/data/soc-Pokec.html) 
2. To unzip the files run in terminal the following command: 

`gzip -d *.gz` 

3. To select the id, age and geneder columns, knwowing that they are the 1st, 4th and 8th columns correspondingly, run the following command:
 
`cut -f1,4,8 soc-pokec-profiles.txt > profiles.txt`

## Data Transformation

In [1]:
import pandas as pd

In [2]:
filename1 = "profiles.txt"
filename2 = "soc-pokec-relationships.txt"

In [3]:
df = pd.read_csv(filename1, sep='\t', header = None)

In [4]:
df.columns = ['user_id', 'gender', 'age']

In [5]:
df

         user_id  gender   age
0              1     1.0  26.0
1              2     0.0   0.0
2             16     1.0  23.0
3              3     1.0  29.0
4              4     0.0  26.0
...          ...     ...   ...
1632798  1632799     0.0  23.0
1632799  1632800     1.0  33.0
1632800  1632801     1.0   0.0
1632801  1632802     1.0  19.0
1632802  1632803     0.0  44.0

[1632803 rows x 3 columns]

In [6]:
df2 = pd.read_csv(filename2, sep='\t', header = None)

In [7]:
df2.columns = ['user', 'frienduser']

In [8]:
df2

             user  frienduser
0               1          13
1               1          11
2               1           6
3               1           3
4               1           4
...           ...         ...
30622559  1632798     1632578
30622560  1632798      865841
30622561  1632802     1632637
30622562  1632802     1632736
30622563  1632803     1632405

[30622564 rows x 2 columns]

In [9]:
df.to_csv('profiles.csv', index = False, header = False)
df2.to_csv('relationships.csv', index = False, header = False)

## Load data in MySQL

#### 1. Create table with profiles
```mysql> CREATE TABLE profiles (id INT NOT NULL, gender INT NOT NULL, AGE INT NOT NULL, PRIMARY KEY (id)); ```
Query OK, 0 rows affected (0.11 sec)

#### 2. Fill profiles' table with data from .csv source
```mysql> LOAD DATA LOCAL INFILE '~/Documents/8th/Big-Data-Management-Systems-Assignments/Neo4jAssignment/profiles.csv' INTO TABLE profiles FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n';```
Query OK, 1632804 rows affected, 329 warnings (12.55 sec)
Records: 1632804  Deleted: 0  Skipped: 0  Warnings: 329

#### 3. Create table with relationships
```mysql> CREATE TABLE friends (userid  INT NOT NULL, friendsid INT NOT NULL, FOREIGN KEY (userid) REFERENCES profiles (id));```
Query OK, 0 rows affected (0.07 sec)

#### 4. Fill relationships' table with data from .csv source
```mysql> LOAD DATA LOCAL INFILE '~/Documents/8th/Big-Data-Management-Systems-Assignments/Neo4jAssignment/relationships.csv' INTO TABLE friends FIELDS TERMINATED BY ',' LINES TERMINATED BY '\n';```
Query OK, 30622565 rows affected, 2 warnings (9 min 35.31 sec)
Records: 30622565  Deleted: 0  Skipped: 0  Warnings: 2

### Run the queries:

###### 1. For each user, count his/her friends
```mysql> SELECT userid,COUNT(\*) FROM friends GROUP BY userid;```

1432694 rows in set (14.45 sec)

###### 2. For each user, count his/her friends of friends
```mysql> SELECT a.userid, a.friendsid, COUNT(b.friendsid) AS numberoff FROM friends AS a LEFT JOIN friends AS b ON a.friendsid = b.userid GROUP BY a.userid, a.friendsid;```

1421423 rows in set (1 min 17.43 sec)

###### 3. For each user, count his/her friends that are over 30
```mysql> SELECT id, COUNT(CASE WHEN profiles.age>30 THEN friendsid END) AS friends30 FROM friends LEFT JOIN profiles ON profiles.id = friends.userid GROUP BY id;```

1432694 rows in set (2 min 46.77 sec)

###### 4. For each male user, count how many male and female friends he is having
```mysql> SELECT userid, aprof.gender AS gender, COUNT(friends.friendsid) FROM friends LEFT JOIN profiles as aprof ON aprof.id=friends.userid LEFT JOIN profiles as bprof ON bprof.id=friends.userid GROUP BY userid, aprof.gender, bprof.gender HAVING aprof.gender=1;```

715979 rows in set (3 min 40.82 sec)

## Load data in Neo4j

#### 1. Create the nodes
```:auto USING PERIODIC COMMIT
LOAD CSV FROM "file:///profiles.csv" AS row
FIELDTERMINATOR ','
CREATE (:Profile {userId: toInteger(row[0]), age: toInteger(row[1]), gender: row[2]})```

Added 1632803 labels, created 1632803 nodes, set 4898083 properties, completed after 80515 ms.

Ideally, we create an index on userId to optimize performance 
```CREATE INDEX userId FOR (n:Profile) ON (n.age, n.gender).```

#### 2. Create the relationships between the nodes who are friends by running the following command:

```:auto USING PERIODIC COMMIT
LOAD CSV FROM "file:///relationships.csv" AS row
FIELDTERMINATOR ','
MATCH (p1:Profile {userId: toInteger(row[0])})
MATCH (p2:Profile {userId: toInteger(row[1])})
MERGE (p1)-[:FRIEND_WITH]->(p2)```

![relationships](images/relationships.png)

The files should be saved in the Neo4j import file. Usually is located in `/var/lib/neo4j/import/`. The files can be copied in this file by executing the `sudo cp *.csv /var/lib/neo4j/import/` command in terminal. 

![graphimage](images/graph.png)

### Run the queries:

###### 1. For each user, count his/her friends
```MATCH (prof: Profile)-[:FRIEND_WITH]->(fr: Profile)
RETURN prof.userId, count(fr.userId) AS friend```

Started streaming 1522 records after 2 ms and completed after 7 ms, displaying first 1000 rows.

###### 2. For each user, count his/her friends of friends
```MATCH (user:Profile)-[r:FRIEND_WITH]->(friend:Profile)-[r2:FRIEND_WITH]->(ffriend:Profile)
RETURN user.userId as user, friend.userIid as friend, count(ffriend.userId) as friendsoffriend```

Started streaming 1422 records after 1 ms and completed after 3 ms, displaying first 1000 rows.

###### 3. For each user, count his/her friends that are over 30
```MATCH (user:Profile)-[r:FRIEND_WITH]->(friend:Profile)
WHERE friend.age > 30
RETURN user.userId as user, count(r) as friends```

Started streaming 569 records after 2 ms and completed after 1326 ms.


###### 4. For each male user, count how many male and female friends he is having
```MATCH (user:Profile {gender: 1})-[r:FRIEND_WITH]->(friend:Profile)
RETURN user.userIdas user, f.gender AS gender, count(friend.gender='1') as menFriends, count(friend.gender='0') as womenFriends```

Started streaming 1310 records after 1 ms and completed after 2 ms, displaying first 1000 rows.
But it presents the same number of women and men friends of each user which is **wrong**. So I tried to calcluate the sum of men friends (as it equals to 1) and from all friends to substract men and calculate the women friends, which works correctly. 

```MATCH (user:Profile {gender: 1})-[r:FRIEND_WITH]->(friend:Profile)
WHERE EXISTS(user.gender) and EXISTS(friend.gender)
RETURN user.userId as user, sum(toInteger(friend.gender)) AS menfriends, count(friend.userId)-sum(toInteger(friend.gender)) AS womenfriends```

Started streaming 670 records after 1 ms and completed after 2192 ms.

## Performance Comments

|Description | MySQL | Neo4j for 84,000 relationships|
| :--- | --- | --- |
| Load profiles' data| 12.55 sec | 21204 ms|
| Load relationships' data| 9 min 35.31 sec| 3 days (84,000 relationships)|
| Run 1st query | 14.45 sec | 7 ms |
| Run 2nd query| 1 min 17.43 sec | 3 ms|
| Run 3rd query| 2 min 46.77 sec | 1326 ms |
| Run 4th query| 3 min 40.82 sec | 2192 ms |

Although graph databases are considered to increase the sheer performance when dealing with connected data in comparison with relational databases, the machine I used seems to be a boundary to see that difference during the relationships' creation stage. Apart from that, in contrast to relational databases, where join-intensive query performance deteriorates as the dataset gets bigger, with a graph database performance tends to remain relatively constant, even as the dataset grows. This is because queries are localized to a portion of the graph. As a result, the execution time for each query is proportional only to the size of the part of the graph traversed to satisfy that query, rather than the size of the overall graph and that is proved in the table above.

## References

<a id="1">[1]</a> 
Ian Robinson, Jim Webber, and Emil Eifrem. 2015. *Graph Databases: New Opportunities for Connected Data* (2nd. ed.). O’Reilly Media, Inc.

<a id="2">[2]</a> [Installation guide]()

<a id="3">[3]</a> [Neo4j Documentation]()

<a id="4">[4]</a> [All Neo4j commands]() 

<a id="5">[5]</a> [Tutorial]() 

<a id="6">[6]</a> [Reading and Writing Data with neo4j video](https://www.youtube.com/watch?v=7vWEqm2evdw) 

<a id="7">[7]</a> [Import data in sql from a .csv file](https://medium.com/@AviGoom/how-to-import-a-csv-file-into-a-mysql-database-ef8860878a68)